*{
    margin: 0;
    padding: 0;
    font-family: "General Sans Medium";
    box-sizing: border-box;
 
}

html,body{
    width: 100%;
    height: 100%;
}

#minicircle{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: white;
}

.bounding{
    width: fit-content;
    overflow: hidden;

}

.bounding .boundingelem{
    transform: translateY(100%);
}
 
#main{
    width: 100%;
    background-color: black;
    
}

#hero{
    position: relative;
    color: white;
    width: 100%;
    height: 100vh;
    background-color: black;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2vw 3vw;
    color: white;
}

#nav a{
    text-decoration: none;
    font-size: 1.3vw;
    color: white;
}

#heading{
    margin-top: 7vw;
}

#heading h1{

    margin-left: 3vw;
    opacity: .6;
    line-height: 1;
    font-size: 10.5vw;
    text-transform: uppercase;
    font-weight: 440;
}

#heading #secondh1{
    margin-left: 14vw;
}

.blocktext{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}

.blocktext h5{
    text-transform: uppercase;
    font-size: 1.3vw;
    font-weight: 500;
    text-align: right !important;
}

#smallheading{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 60px;
    padding-right: 30px;
}

#smallheading h5{
    text-align: right;
    margin-top: .5vw;
    font-size: 1.3vw;
    font-weight: 100;
    text-align: right;
    text-transform: uppercase;
}

#herofooter{
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: .5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#herofooter a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

#herofooter #iconset{
    display: flex;
    gap: 6px;
}

#herofooter .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color:#888;
}

#secondpage{
    color: white;
    padding-left: 3vw;
    padding-right: 10vw;
    padding-top: 200px;
    background-color: black;
    width: 100%;
    height: 100%;
}

 .elem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    padding: 3.5vw 3vw;
    border-top: 1px solid #888;
 }

 .elem h1{
    text-transform: uppercase;
    font-size: 7.6vw;
    opacity: .7;
 }

 .elemlast{
    border-bottom: 1px solid #888;
 }

 .elem img{
    opacity: 0;
    pointer-events: none;
    height: 120%;
    z-index: 999;
    position: absolute;
    transform: translate(-50%, -50%);
 }

 #about{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 10vw 10vw;
    padding-left: 30vw;
    padding-top: 18vw;
    width: 100%;
    background-color: black;
 }

  
 #textabout {
    width: 26rem;
 }

 #about img{
    width: 215px;
    margin-bottom: 50px;
    
 }

 #textabout h5{
    text-transform: uppercase;
    opacity: .6;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 50;
 }

 #textabout p{
    line-height: 1.5;
    margin-bottom: 30px;
 }

 #textabout a{
    padding: 12px 22px;
    border: 1px solid white;
    border-radius: 100px;
    color: white;
    font-size: 12px;
    text-decoration: none;
 }

 #subscribe{
    color: white;
    padding: 20px 30px;
    padding-bottom: 7vw;
    background-color: black;
 }
 
 #subscribe h5{
    text-transform: uppercase;
    opacity: .6;
 }

 #subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;

 }

 #footer{
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
 }

 #footerleft{
    display: flex;
    gap: 20px;
 }

 #footerright{
    display: flex;
    gap: 30px;
 }


 #footer a{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color:white;
    text-decoration: none;
 }